<!--
File name: error.ejs
Author's name: Aakriti Gupta
Student ID: 301103413
Date: October 26, 2020
Web site name: Favourite BookList Midterm
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
